package {{invokerPackage}}.controllers;
{{#operations}}

import org.springframework.http.ResponseEntity;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestMethod;
import org.springframework.web.bind.annotation.RestController;
import org.springframework.web.bind.annotation.RequestBody;
{{#imports}}import {{import}};
{{/imports}}

@RestController
public class Controller{{classname}} {

{{#operation}}
{{#contents}}
{{#summary}}
    /*
    {{summary}}
    {{#externalDocs}}
    {{description}}
    {{url}}
    {{/externalDocs}}
    */
    {{/summary}}
    @RequestMapping(value = "{{{path}}}",{{#singleContentTypes}}{{#hasProduces}}
        produces = "{{{vendorExtensions.x-accepts}}}", {{/hasProduces}}{{#hasConsumes}}
        consumes = "{{{vendorExtensions.x-contentType}}}",{{/hasConsumes}}{{/singleContentTypes}}{{^singleContentTypes}}{{#hasProduces}}
        produces = { {{#produces}}"{{{mediaType}}}"{{#hasMore}}, {{/hasMore}}{{/produces}} }, {{/hasProduces}}{{#hasConsumes}}
        consumes = { {{#consumes}}"{{{mediaType}}}"{{#hasMore}}, {{/hasMore}}{{/consumes}} },{{/hasConsumes}}{{/singleContentTypes}}
    method = RequestMethod.{{httpMethod}})
    public ResponseEntity {{nickname}}({{#bodyParams}}@RequestBody {{dataType}} {{paramName}}{{/bodyParams}}
    ){
        return null;
    }
{{/contents}}
{{/operation}}

}

{{/operations}}
