package {{invokerPackage}}.vmodels;

import lombok.AllArgsConstructor;
import lombok.Getter;
import lombok.NoArgsConstructor;
import lombok.Setter;

{{^x-is-composed-model}}
{{#imports}}import {{import}};
{{/imports}}
{{/x-is-composed-model}}
{{#models}}
{{#model}}
@AllArgsConstructor
@NoArgsConstructor
@Getter
@Setter
public class {{classname}} {
{{#vars}}{{#description}}
    // {{{description}}}{{/description}}
    private {{^isEnum}}{{^isPrimitiveType}}{{^isContainer}}{{^isDateTime}}{{/isDateTime}}{{/isContainer}}{{/isPrimitiveType}}{{/isEnum}}{{{datatype}}} {{name}};
{{/vars}}
}

{{/model}}
{{/models}}
