/*
 * Swagger Generator
 *
 * This is an online swagger codegen server.  You can find out more at https://github.com/swagger-api/swagger-codegen or on [irc.freenode.net, #swagger](http://swagger.io/irc/).
 *
 * API version: 3.0.14
 * Generated by: Swagger Codegen (https://github.com/swagger-api/swagger-codegen.git)
 */
package controllers

import (
    "com.gitlab.dekaulitz/src/controllers"
    "github.com/gin-gonic/gin"
    "net/http"
)
func GetRouters(r *gin.Engine) {
    //Deprecated, use &#x27;/{type}/{version}&#x27; instead. List generator languages of type &#x27;client&#x27; or &#x27;documentation&#x27; for given codegen version (defaults to V3)
    r.GET("/clients",ClientLanguages)
    //Generates and download code. GenerationRequest input provided as request body.
    r.POST("/generate",Generate)
    //Generates and download code. GenerationRequest input provided as JSON available at URL specified in parameter codegenOptionsURL.
    r.GET("/generate",GenerateFromURL)
    //List generator languages of the given type and version
    r.GET("/{type}/{version}",Languages)
    //List generator languages of version defined in &#x27;version parameter (defaults to V3) and type included in &#x27;types&#x27; parameter; all languages
    r.GET("/types",LanguagesMulti)
    //Returns options for a given language and version (defaults to V3)
    r.GET("/options",ListOptions)
    //Generates and download code. GenerationRequest input provided as request body.
    r.POST("/generate",Generate)
    //Generates and download code. GenerationRequest input provided as JSON available at URL specified in parameter codegenOptionsURL.
    r.GET("/generate",GenerateFromURL)
    //List generator languages of the given type and version
    r.GET("/{type}/{version}",Languages)
    //List generator languages of version defined in &#x27;version parameter (defaults to V3) and type included in &#x27;types&#x27; parameter; all languages
    r.GET("/types",LanguagesMulti)
    //Returns options for a given language and version (defaults to V3)
    r.GET("/options",ListOptions)
    //Deprecated, use &#x27;/{type}/{version}&#x27; instead. List generator languages of type &#x27;client&#x27; or &#x27;documentation&#x27; for given codegen version (defaults to V3)
    r.GET("/clients",ClientLanguages)
    //Deprecated, use &#x27;/{type}/{version}&#x27; instead. List generator languages of type &#x27;documentation&#x27; for given codegen version (defaults to V3)
    r.GET("/documentation",DocumentationLanguages)
    //Generates and download code. GenerationRequest input provided as request body.
    r.POST("/generate",Generate)
    //Generates and download code. GenerationRequest input provided as JSON available at URL specified in parameter codegenOptionsURL.
    r.GET("/generate",GenerateFromURL)
    //List generator languages of the given type and version
    r.GET("/{type}/{version}",Languages)
    //List generator languages of version defined in &#x27;version parameter (defaults to V3) and type included in &#x27;types&#x27; parameter; all languages
    r.GET("/types",LanguagesMulti)
    //Returns options for a given language and version (defaults to V3)
    r.GET("/options",ListOptions)
    //Generates and download code. GenerationRequest input provided as request body.
    r.POST("/generate",Generate)
    //Generates and download code. GenerationRequest input provided as JSON available at URL specified in parameter codegenOptionsURL.
    r.GET("/generate",GenerateFromURL)
    //List generator languages of the given type and version
    r.GET("/{type}/{version}",Languages)
    //List generator languages of version defined in &#x27;version parameter (defaults to V3) and type included in &#x27;types&#x27; parameter; all languages
    r.GET("/types",LanguagesMulti)
    //Returns options for a given language and version (defaults to V3)
    r.GET("/options",ListOptions)
    //Deprecated, use &#x27;/{type}/{version}&#x27; instead. List generator languages of type &#x27;server&#x27; for given codegen version (defaults to V3)
    r.GET("/servers",ServerLanguages)
}
