{{#headerParams}}{{paramName}} {{dataType}},{{/headerParams}}{{#pathParams}}{{paramName}} {{dataType}},{{/pathParams}}{{#queryParams}}{{paramName}} {{dataType}},{{/queryParams}}{{#bodyParams}}vModel {{dataType}},{{/bodyParams}}
