{{>partial_header}}
package {{apiPackage}}

{{#operations}}
import (
    "strconv"
	"net/http"
    "encoding/json"
    "github.com/gin-gonic/gin"{{#hasModel}}
    "{{invokerPackage}}/src/{{modelPackage}}"
{{/hasModel}}
){{#operation}}
    {{#contents}}
/**
 * {{summary}}
 * {{externalDocs}}
 */
func {{nickname}}(c *gin.Context) {
{{#headerParams}}
    {{>headerParam}}
{{/headerParams}}
{{#pathParams}}
    {{>pathParam}}
{{/pathParams}}
{{#queryParams}}
    {{>queryParam}}
{{/queryParams}}
{{#bodyParams}}
    var body {{dataType}}
    jsonFail := c.BindJSON(&body)
    if jsonFail != nil {
        panic(jsonFail)
    }
{{/bodyParams}}
{{#produces}}
    c.Writer.Header().Set("Content-Type","{{mediaType}}")
{{/produces}}
    c.Writer.WriteHeader(http.StatusOK)
{{#returnType}}
    var responseBody {{returnType}}
    res,_:=json.Marshal(responseBody)
    c.Writer.Write(res)
{{/returnType}}
    return
}{{/contents}}{{/operation}}{{/operations}}
