{{>partial_header}}
package {{apiPackage}}

{{#operations}}
import (
    "strconv"
	"net/http"
    "encoding/json"
    "github.com/gin-gonic/gin"{{#hasModel}}
    "{{invokerPackage}}/src/{{modelPackage}}"
    {{#importServices}}
    "{{invokerPackage}}/src/{{importService}}"
    {{/importServices}}

{{/hasModel}}
){{#operation}}
    {{#contents}}
{{#summary}}

/*
  {{summary}}
  {{#externalDocs}}
  {{description}}
  {{url}}
  {{/externalDocs}}
 */
{{/summary}}
func {{nickname}}(c *gin.Context) {
    ctx := c.Request.Context()
{{#headerParams}}
    {{>headerParam}}
{{/headerParams}}
{{#pathParams}}
    {{>pathParam}}
{{/pathParams}}
{{#queryParams}}
    {{>queryParam}}
{{/queryParams}}
{{#bodyParams}}
    var vmodel {{dataType}}
    jsonFail := c.BindJSON(&vmodel)
    if jsonFail != nil {
        panic(jsonFail)
    }
{{/bodyParams}}
{{#produces}}
    c.Writer.Header().Set("Content-Type","{{mediaType}}")
{{/produces}}
    c.Writer.WriteHeader(http.StatusOK)
{{#returnType}}
    responseBody,err := {{#importServices}}{{importService}}.{{nickname}}({{>argumentsParamsService}}&ctx){{/importServices}}
    if (err != nil) {
        panic(err)
    }
    res,_:=json.Marshal(responseBody)
    c.Writer.Write(res)
{{/returnType}}
    return
}{{/contents}}{{/operation}}{{/operations}}


