{{>partial_header}}
package controllers

import (
    "github.com/gin-gonic/gin"
)
func GetRouters(r *gin.Engine) {
{{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}
    //{{summary}}
    r.{{httpMethod}}("{{{path}}}",{{operationId}})
    {{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}
}
